$sm: 576px;
$md: 768px;

$btn-bg-color: #ff0000;
$input__border-color: #969696;
$contact-title-color: #ffffff;
$media__background-color: #001460;
$contact-answer-title-color: #181818;

@mixin headingFonts(
  $color: $input__border-color,
  $fontSize: 18px,
  $fontWeight: 400,
  $lineHeight: default,
  $textTransform: capitalize
) {
  color: $color;
  margin: 0 default;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  text-transform: $textTransform;
}

@mixin flexLayout(
  $flex: flex,
  $jc: default,
  $ai: default,
  $gap: default,
  $flexFlow: nowrap row
) {
  gap: $gap;
  display: $flex;
  align-items: $ai;
  justify-content: $jc;
  flex-flow: $flexFlow;
}

@mixin fontFamily($font) {
  font-family: $font;
}

@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

.contact {
  &__box {
    width: 100%;
    @include flexLayout(flex, flex-start, center, 30px, row nowrap);

    @include sm {
      gap: 15px;
    }
  }

  &__background {
    width: 100%;
    min-height: 360px;
    text-align: center;
    padding: 100px 0px;

    @include sm {
      padding: 75px 0px;
    }

    &-heading {
      position: relative;
      margin-bottom: 20px;
      @include fontFamily("Philosopher");
      @include headingFonts($contact-title-color, 40px, 700, 44.8px, none);

      @include md {
        font-size: 36px;
      }
    }

    &-horizontal-rule {
      width: 70px;
      height: 1px;
      margin: {
        top: 0px;
        bottom: 20px;
        right: auto;
        left: auto;
      }
      background-color: $contact-title-color;
    }

    &-text {
      @include fontFamily("Open Sans");
      @include headingFonts($contact-title-color, 24px, 400, 32.68px, none);

      @include md {
        font-size: 20px;
      }
    }
  }

  &__touches {
    margin-bottom: 20px;
    @include flexLayout(flex, flex-start, flex-start, 20px, column nowrap);
  }

  &__form {
    bottom: 60px;
    padding: {
      top: 40px;
      left: 40px;
      right: 40px;
      bottom: 100px;
    }

    @include sm {
      padding: {
        top: 40px;
        left: 20px;
        right: 20px;
        bottom: 40px;
      }
    }

    margin: 0 auto;
    max-width: 755px;
    min-height: 500px;
    position: relative;
    background-color: $contact-title-color;

    &-rule {
      width: 100%;
      height: 1px;
      margin-bottom: 30px;
      background-color: $input__border-color;
    }

    &-heading {
      text-align: center;
      margin-bottom: 20px;
      @include fontFamily("Philosopher");
      @include headingFonts(
        $contact-answer-title-color,
        40px,
        700,
        44.8px,
        none
      );

      @include md {
        font-size: 36px;
      }

      @include sm {
        font-size: 30px;
      }
    }

    &-title {
      text-align: center;
      margin-bottom: 20px;
      @include fontFamily("Philosopher");
      @include headingFonts(
        $contact-answer-title-color,
        40px,
        700,
        44.8px,
        none
      );

      @include md {
        font-size: 36px;
      }

      @include sm {
        font-size: 30px;
      }
    }
  }

  &__back {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background-color: $media__background-color;
    @include flexLayout(flex, center, center, none, row nowrap);

    @include md {
      width: 60px;
      height: 60px;
    }

    @include sm {
      width: 50px;
      height: 50px;
    }

    svg {
      width: 54px;
      height: 54px;

      @include md {
        width: 30px;
        height: 30px;
      }

      @include sm {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__content {
    &-title {
      margin-bottom: 10px;
      @include fontFamily("Philosopher");
      @include headingFonts($btn-bg-color, 24px, 700, 26.88px, row nowrap);

      @include sm {
        font-size: 20px;
      }
    }

    &-text {
      @include fontFamily("Open Sans");
      @include headingFonts(
        $contact-answer-title-color,
        16px,
        400,
        21.79px,
        none
      );

      @include sm {
        font-size: 14px;
      }
    }
  }

  &__medias {
    @include flexLayout(flex, center, center, 30px, row nowrap);
  }

  &__blank {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: $media__background-color;
    @include flexLayout(flex, center, center, 0px, row nowrap);

    @include md {
      width: 60px;
      height: 60px;
    }

    @include sm {
      width: 50px;
      height: 50px;
    }

    &-icon {
      width: 32px;
      height: 32px;

      @include md {
        width: 25px;
        height: 25px;
      }

      @include sm {
        width: 20px;
        height: 20px;
      }
    }
  }
}
