$lg: 992px;
$sm: 576px;
$md: 768px;

$title-color: #181818;
$input__border-color: #969696;

@mixin headingFonts(
  $color: $input__border-color,
  $fontSize: 18px,
  $fontWeight: 400,
  $lineHeight: default,
  $textTransform: capitalize
) {
  color: $color;
  margin: 0 default;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  text-transform: $textTransform;
}

@mixin md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin flexLayout(
  $flex: flex,
  $jc: default,
  $ai: default,
  $gap: default,
  $flexFlow: nowrap row
) {
  gap: $gap;
  display: $flex;
  align-items: $ai;
  justify-content: $jc;
  flex-flow: $flexFlow;
}

@mixin fontFamily($font) {
  font-family: $font;
}

@mixin defaultMediaQuery($query) {
  @media only screen and (max-width: $query) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: $lg) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

.our-about {
  padding-top: 150px;

  @include lg {
    padding-top: 100px;
  }

  @include md {
    padding-top: 0px;
  }

  &__item {
    @include flexLayout(flex, space-between, center, 30px, row nowrap);

    @include lg {
      @include flexLayout(flex, flex-start, flex-start, 30px, column nowrap);
      margin-bottom: 30px;
      &:nth-child(even) {
        @include flexLayout(
          flex,
          flex-start,
          flex-start,
          30px,
          column-reverse nowrap
        );
      }
    }

    &-image {
      height: 400px;
      max-width: 620px;
      object-fit: cover;

      @include defaultMediaQuery(1280px) {
        max-width: 450px;
      }

      @include lg {
        max-width: 100%;
      }

      @include sm {
        height: 250px;
      }
    }
  }

  &__content {
    &-title {
      position: relative;
      padding-left: 80px;
      margin-bottom: 20px;
      @include fontFamily("Philosopher");
      @include headingFonts($title-color, 40px, 700, 44.8px, none);

      @include sm {
        font-size: 30px;
        padding-left: 0px;
      }

      &::before {
        left: 0;
        top: 50%;
        content: "";
        height: 1px;
        width: 70px;
        position: absolute;
        background-color: $title-color;

        @include sm {
          display: none;
        }
      }
    }

    &-text {
      @include fontFamily("Open Sans");
      @include headingFonts($title-color, 16px, 400, 21.79px, none);

      @include sm {
        font-size: 14px;
      }
    }
  }
}
