$lg: 992px;
$md: 768px;
$sm: 576px;

$btn-bg-color: #ff0000;
$contact-title-color: #ffffff;
$leading__first-background-color: #001460;
$leading__second-background-color: rgba(0, 41, 198, 0.71);

@mixin fontFamily($font) {
  font-family: $font;
}

@mixin md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin headingFonts(
  $color: $input__border-color,
  $fontSize: 18px,
  $fontWeight: 400,
  $lineHeight: default,
  $textTransform: capitalize
) {
  color: $color;
  margin: 0 default;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  text-transform: $textTransform;
}

@mixin defaultMediaQuery($query) {
  @media only screen and (max-width: $query) {
    @content;
  }
}

@mixin Button(
  $bgColor: default,
  $border: 1px solid $input__border-color,
  $borderRadius: 4px,
  $padding: 10px,
  $transition: all 300ms ease
) {
  outline: none;
  border: $border;
  padding: $padding;
  transition: $transition;
  background-color: $bgColor;
  border-radius: $borderRadius;
}

@mixin lg {
  @media only screen and (max-width: $lg) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

.leading {
  padding-top: 150px;

  @include lg {
    padding-top: 50px;
  }

  @include sm {
    padding-top: 20px;
  }

  &__background {
    width: 100%;
    display: flex;
    max-width: 920px;
    position: relative;
    padding: {
      top: 100px;
      left: 100px;
      bottom: 100px;
    }
    background: linear-gradient(
      180deg,
      $leading__first-background-color 0%,
      $leading__second-background-color 100%
    );

    @include defaultMediaQuery(1340px) {
      max-width: 100%;
      padding-right: 100px;
    }

    @include lg {
      padding: 50px;
    }

    @include sm {
      padding: 30px;
    }

    &-image {
      top: 10%;
      right: -35%;
      width: 590px;
      height: 500px;
      object-fit: cover;
      position: absolute;

      @include defaultMediaQuery(1340px) {
        display: none;
      }
    }
  }

  &__content {
    max-width: 550px;

    @include defaultMediaQuery(1340px) {
      width: 100%;
      max-width: 100%;
    }
    &-title {
      margin-bottom: 20px;
      @include fontFamily("Philosopher");
      @include headingFonts($contact-title-color, 40px, 700, 44.8px, none);

      @include md {
        font-size: 36px;
      }

      @include sm {
        font-size: 30px;
      }
    }

    &-horizontal-rule {
      height: 1px;
      max-width: 410px;
      margin-bottom: 20px;
      background-color: $contact-title-color;
    }

    &-text {
      margin-bottom: 20px;
      @include fontFamily("Open Sans");
      @include headingFonts($contact-title-color, 16px, 400, 21.79px, none);
    }

    &-btn {
      @include Button(
        $btn-bg-color,
        1px solid $btn-bg-color,
        0px,
        15px 30px,
        (color 150ms linear, background-color 150ms linear)
      );
      @include fontFamily("Open Sans");
      @include headingFonts($contact-title-color, 16px, 400, 21.79px, none);

      &:hover {
        color: $btn-bg-color;
        background-color: transparent;
      }

      @include sm {
        font-size: 14px;
        padding: 12px 24px;
      }
    }
  }
}
