$lg: 992px;
$md: 768px;
$sm: 576px;
$xl: 1200px;

$btn-bg-color: #ff0000;
$input__border-color: #969696;
$contact-title-color: #ffffff;
$contact-answer-title-color: #181818;
$services__first-background-color: #001460;
$services__second-background-color: rgba(0, 41, 198, 0.71);

@mixin headingFonts(
  $color: $input__border-color,
  $fontSize: 18px,
  $fontWeight: 400,
  $lineHeight: default,
  $textTransform: capitalize
) {
  color: $color;
  margin: 0 default;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  text-transform: $textTransform;
}

@mixin Button(
  $bgColor: default,
  $border: 1px solid $input__border-color,
  $borderRadius: 4px,
  $padding: 10px,
  $transition: all 300ms ease
) {
  outline: none;
  border: $border;
  padding: $padding;
  transition: $transition;
  background-color: $bgColor;
  border-radius: $borderRadius;
}

@mixin fontFamily($font) {
  font-family: $font;
}

@mixin gridLayout(
  $grid: grid,
  $gridTemplateCol: 3,
  $jc: default,
  $ai: default,
  $gap: default
) {
  gap: $gap;
  display: $grid;
  align-items: $ai;
  justify-content: $jc;
  @if $gridTemplateCol > 1 {
    grid-template-columns: repeat($gridTemplateCol, auto);
  } @else {
    grid-template-columns: auto;
  }
}

@mixin xl {
  @media only screen and (max-width: $xl) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: $lg) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin Input(
  $color: $input__border-color,
  $placeholderColor: $input__border-color,
  $bgColor: default,
  $border: 1px solid $input__border-color,
  $borderRadius: 4px,
  $textIndent: 10px
) {
  color: $color;
  outline: none;
  border: $border;
  text-indent: $textIndent;
  background-color: $bgColor;
  border-radius: $borderRadius;
  &::placeholder {
    color: $placeholderColor;
  }
}

@mixin transition($duration) {
  transition: $duration;
}

.services-view {
  &__contact {
    height: 100%;
    padding: 50px 0px;
    min-height: 630px;
    @include gridLayout(grid, 2, space-between, flex-start, 0px);
    grid-template-columns: repeat(2, 1fr);

    @include lg {
      grid-template-columns: 1fr;
    }
    &-image {
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__form {
    @include gridLayout(grid, 2, flex-start, center, 30px);
    grid-template-columns: repeat(2, 1fr);

    @include md {
      display: block;
    }

    &-field {
      padding: 20px;

      @include Input(
        $input__border-color,
        $input__border-color,
        $contact-title-color,
        1px solid $contact-title-color,
        0px
      );

      @include md {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &-texterea {
      width: 100%;
      padding: 20px;
      height: 125px;
      grid-column: 1/3;
      @include Input(
        $input__border-color,
        $input__border-color,
        $contact-title-color,
        1px solid $contact-title-color,
        0px
      );

      @include md {
        margin-bottom: 20px;
      }
    }

    &-submit {
      grid-column: 1/3;

      @include md {
        width: 100%;
        grid-column: none;
      }

      @include Button(
        $btn-bg-color,
        1px solid $btn-bg-color,
        0px,
        15px 30px,
        (
          color 150ms linear,
          background-color 150ms linear,
          transform 150ms linear
        )
      );
      @include fontFamily("Open Sans");
      @include headingFonts($contact-title-color, 16px, 400, 21.79px, none);

      &:hover {
        color: $btn-bg-color;
        background-color: transparent;
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }

  &__box {
    @include sm {
      padding: 25px;
    }

    padding: 50px;
    height: 100%;
    max-width: 630px;
    background: linear-gradient(
      180deg,
      $services__first-background-color 0%,
      $services__second-background-color 100%
    );

    @include lg {
      max-width: 100%;

      &:last-child {
        display: none;
      }
    }

    &:last-child {
      padding: 0px;
      background: linear-gradient(180deg, transparent 0%, transparent 100%);
    }

    &-title {
      text-align: center;
      margin-bottom: 20px;
      @include fontFamily("Philosopher");
      @include headingFonts($contact-title-color, 40px, 900, 44.8px, none);
    }

    &-text {
      margin-bottom: 20px;
      @include fontFamily("Open Sans");
      @include headingFonts($contact-title-color, 16px, 400, 21.79px, none);
    }

    &-horizontal-rule {
      height: 1px;
      width: 100%;
      margin-bottom: 20px;
      background-color: $contact-title-color;
    }
  }
  &__background {
    width: 100%;
    min-height: 300px;
    padding: {
      top: 50px;
      bottom: 50px;
    }

    &-title {
      margin-bottom: 10px;
      @include fontFamily("Philosopher");
      @include headingFonts($contact-title-color, 80px, 700, 89.6px, none);

      @include xl {
        font-size: 65px;
        line-height: 70px;
      }

      @include lg {
        font-size: 60px;
      }

      @include md {
        font-size: 50px;
        line-height: 55px;
      }

      @include sm {
        font-size: 36px;
        line-height: 50px;
      }
    }

    &-text {
      @include fontFamily(("Open Sans"));
      @include headingFonts($contact-title-color, 28px, 400, 33.13px, none);

      @include xl {
        font-size: 20px;
      }

      @include lg {
        font-size: 18px;
      }

      @include sm {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }

  &__houses {
    padding: 50px 0px;
    @include gridLayout(grid, 2, space-between, center, 20px);
    grid-template-columns: repeat(2, 1fr);

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__house {
    height: 410px;
    width: 100%;
    overflow: hidden;

    @include md {
      height: 300px;
      width: 100%;
    }

    @include sm {
      height: 225px;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(transform 150ms linear);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__answers {
    padding-left: 20px;
  }

  &__question {
    margin-bottom: 20px;
    &-title {
      margin-bottom: 10px;
      @include fontFamily("Philosopher");
      @include headingFonts(
        $contact-answer-title-color,
        40px,
        700,
        44.8px,
        capitalize
      );

      @include sm {
        font-size: 36px;
      }
    }
  }

  &__answer {
    margin-bottom: 10px;
    @include fontFamily("Open Sans");

    @include headingFonts(
      $contact-answer-title-color,
      16px,
      400,
      21.79px,
      none
    );

    @include sm {
      font-size: 14px;
    }
  }
}
